datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=2
    max_connections=2048
    default_query_timeout=36000000
    interfaces="0.0.0.0:6033"
    default_schema="shop_db"
    stacksize=1048576
    server_version="8.0.35"
    monitor_username="monitor"
    monitor_password="monitor"
    connect_timeout_server=3000
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    ping_interval_server_msec=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
}

mysql_servers =
(
    {
        address="mysql",
        port=3306,
        hostgroup=0,
        max_connections=20,
        max_replication_lag=0,
        weight=1
    }
)

mysql_users =
(
    {
        username="shop_user",
        password="shop_pass",
        default_hostgroup=0,
        max_connections=10000,
        active=1
    }
)

mysql_query_rules =
(
)
